.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flexbox;
  flex-direction: column;
  height: 100%;
}

body {
  background-image: url(./images/Flags_Background.jpg);
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;

}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
  margin-top: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.full-screen-rectangle {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000; /* Change this to the desired color */
  opacity: 0.16;
  z-index: 9999; /* Set this to a higher value than other elements on the page to make sure it covers everything */
}

@font-face {
  font-family: Mulish;
  src: url(./fonts/Mulish-VariableFont_wght.ttf);
}

.mulish-text {
  font-family: Mulish;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 450px;
  text-align: center;
}

.dropdown select {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}

.dropdown select option:hover {
  background-color: #ddd;
}

#root{
  font-family: mulishItalic;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Mulish;
	src: url(./fonts/Mulish-VariableFont_wght.ttf);
}

:root {
	--mainColor: #10447c ;
	--mainColorLight: #5767aa;
	--secondaryColor: #dbdbdb;
	--textColor: #eee;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 56px;
	padding: 0 2rem;
	background-color: rgba(0, 0, 0, 0.24);
	color: var(--textColor);
  font-size: 1rem;
}

header div {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15%;
}

nav {
	margin-left: auto;
	display: flex;
	align-items: center;
}

nav a {
	margin:  1rem;
	color: var(--textColor);
	text-decoration: none;
}

nav a:hover {
	color: var(--secondaryColor);
}

.services-btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--textColor);
  text-decoration: none;
  cursor: pointer;
  margin:  1rem;
}

.services-btn:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
  
	header div {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 2rem;
  }

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
    z-index: 3;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}

style.css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}